@use '../system' as ngs;

:root {
  --ngs-dialog-z-index: #{ngs.$dialog-z-index};
  --ngs-dialog-backdrop-color: #{ngs.$dialog-backdrop-color};

  --ngs-dialog-closebtn-color: #{ngs.$dialog-closebtn-color};
  --ngs-dialog-closebtn-opacity: #{ngs.$dialog-closebtn-opacity};

  --ngs-dialog-text-color: #{ngs.$dialog-text-color};
  --ngs-dialog-header-text-color: #{ngs.$dialog-header-text-color};
  --ngs-dialog-footer-text-color: #{ngs.$dialog-footer-text-color};

  --ngs-dialog-padding: #{ngs.$dialog-padding};
  --ngs-dialog-background-color: #{ngs.$dialog-background-color};
  --ngs-dialog-box-shadow: #{ngs.$dialog-box-shadow};
  --ngs-dialog-border: #{ngs.$dialog-border};
}

.ngs-dialog-box {
  display: block;
  position: relative;
  background-color: var(--ngs-dialog-background-color) !important;
  box-shadow: var(--ngs-dialog-box-shadow) !important;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: none;

  &:focus {
    outline: none;
  }

  [ngs-dialog-title] {
    margin: 0px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.ngs-dialog-open {
  overflow: clip !important;
}
