@use '../variables' as v;

:root {
  --ngs-dialog-z-index: #{v.$dialog-z-index};
  --ngs-dialog-backdrop-color: #{v.$dialog-backdrop-color};

  --ngs-dialog-closebtn-color: #{v.$dialog-closebtn-color};
  --ngs-dialog-closebtn-opacity: #{v.$dialog-closebtn-opacity};

  --ngs-dialog-text-color: #{v.$dialog-text-color};
  --ngs-dialog-header-text-color: #{v.$dialog-header-text-color};
  --ngs-dialog-footer-text-color: #{v.$dialog-footer-text-color};

  --ngs-dialog-padding: #{v.$dialog-padding};
  --ngs-dialog-background-color: #{v.$dialog-background-color};
  --ngs-dialog-box-shadow: #{v.$dialog-box-shadow};
  --ngs-dialog-border: #{v.$dialog-border};
}

.ngs-dialog-box {
  display: block;
  background-color: var(--ngs-dialog-background-color) !important;
  box-shadow: var(--ngs-dialog-box-shadow) !important;

  &:focus {
    outline: none;
  }

  [ngs-dialog-title] {
    margin: 0px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
  }
}
