$default: #CCC !default;
$primary: #02AFEE !default;
$secondary: #6C757D !default;
$error: #F00 !default;
$danger: #DC3545 !default;
$success: #090 !default;
$warning: #FFC107 !default;
$info: #0DCAF0 !default;
$light: #F8F9FA !default;
$dark: #212529 !default;

$color: (
  default: $default,
  primary: $primary,
  secondary: $secondary,
  error: $error,
  danger: $danger,
  success: $success,
  warning: $warning,
  info: $info,
  light: $light,
  dark: $dark,
);

$device: (
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
